name: CI Pipeline

on:
  push:
    branches: [ main, feature/* ]
  pull_request:
    branches: [ main, feature/* ]

jobs:
  build-test:
    runs-on: ubuntu-latest
    env:
      REGISTRY: ghcr.io
      IMAGE_PATH: ${{ toLower(github.repository) }}
      IMAGE_TAG: ${{ github.sha }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run tests
        run: pytest --maxfail=1 --disable-warnings -q

      - name: Build Docker
        run: docker build -f docker/recommender.Dockerfile -t $REGISTRY/$IMAGE_PATH/reco:$IMAGE_TAG .

      - name: Push Docker image
        run: docker push $REGISTRY/$IMAGE_PATH/reco:$IMAGE_TAG
